li {
    list-style: none;
}

form {
  margin: 40px 0 !important;
}

#labels_quest + .tooltip > .tooltip-inner {
  background-color: #181818 ;
  color: white;
  max-width: 280px;
  max-height: 100%;
  font-size: 15px;
}

.jumbotron{
    margin-top: 100px;
    height: 100%;
    /*border: 1px solid red;*/
    font-size: 12px;
}

.navbar {
    background-color: #333;
    height: 10%;
}

.navbar-default .navbar-brand {
    font-family: Kaushan Script;
    color: #fed136;
    font-size: 22px;
    margin-top: 10px;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.radio {
  text-align: left;
}

.help {

}

.radio-label {
  width: 30%;
  top: 10px;
  text-align: left;
  font-size: 12px;
}

#title_page {
  text-align: center;
}

#con_label {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
  /*border: 1px solid red;*/
  background-color: #F8F8F8;
  border-radius: 5px;
  padding-top: 5px;

}

#butt {
  float: right;
}

#labels_quest {
  font-size: 15px;
  cursor: pointer;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushanScript.woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat.woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
