{% extends 'index.html' %}
    {% load staticfiles %}
    {% block page_title %} Nursery Application Assessment Questionnaire {% endblock %}
    <!-- Bootstrap core CSS -->
    {% block page_css %}
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% endblock %}
    {% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <a class="navbar-brand page-scroll" href="{% url 'index' %}">Home</a>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="{% url 'index' %}#about">About Us</a>
            </li>
            <li>
              <a class="page-scroll" href="{% url 'index' %}#team">Team</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% block body %}
        <div class="container">
          <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
             <h1>Nursery Application Assessment Questionnaire</h1>
            
            <form action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group" id = "ml">
              <label class="col-sm-2 control-label" for ='{{ field }}'>{{field.label}}</label>
                <div class="col-sm-10 radio">
                  {{field}}
                </div>
              </div>
              {% endfor %}
              <input type="submit" class="btn btn-primary" value="Submit" />
            </form>
          </div>
          <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true" id = "result">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <center>
                  <h2<span id = "name"></span><h2><br>
                  <b><span id = "predicion"></span></b>
                </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
        </div> <!-- /container -->
        
    {% endblock %}

    {% block page_javascript %} 
    <script src= "{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
      <script src=" {% static 'js/classie.js' %}"></script>
      <script src=" {% static 'js/cbpAnimatedHeader.js' %}"></script>
      <script src=" {% static 'js/script.js' %}"></script>
    {% endblock %}
  
